## export main functions
export(
    "edma_simulate_data",
    "read_xyz",
    "edma_fit",
    "edma_fdm",
    "edma_gm",
    "edma_gdm",
    "SigmaK_fit",
    "read_pattern"
)

## export misc functions
export(
    "print_tb",
    "plot_tb",
    "combine_data",
    "combine_data4")

## export new generics, non visual
export(
    "landmarks",
    "Meanform",
    "SigmaKstar",
    "SigmaK",
    "get_fm",
    "get_fdm",
    "get_gm",
    "get_gdm",
    "T_test",
    "specimens",
    "dimensions",
    "sensitivity",
    "get_influence",
    "as.edma_data"
)

## export new generics for visualization
export(
    "plot_2d",
    "plot_3d",
    "plot_ord",
    "plot_clust",
    "plot_Ttest",
    "plot_ci"
)

## imports
importFrom("utils",
    "stack", "read.table", "read.csv")
importFrom("stats",
    "as.dist", "dist", "optim", "quantile", "rnorm",
    "cmdscale", "confint", "prcomp", "runif", "hclust",
    "cov.wt", "qf")
importFrom("graphics",
    "abline", "axis", "lines", "par", "plot", "polygon",
    "text", "hist", "points", "segments", "title")
importFrom("grDevices",
    "chull", "dev.interactive", "devAskNewPage", "colorRampPalette")
importFrom("readxl",
    "read_excel")
importFrom("ape",
    "as.phylo")
#importFrom("rgl",
#    "plot3d", "lines3d")
importFrom("grDevices",
    "hcl.colors")

## edma_data methods
S3method("stack", "edma_data")
S3method("print", "edma_data")
S3method("subset", "edma_data")
S3method("[", "edma_data")
S3method("landmarks", "edma_data")
S3method("specimens", "edma_data")
S3method("dimensions", "edma_data")
S3method("dim", "edma_data")
S3method("dimnames", "edma_data")
S3method("as.matrix", "edma_data")
S3method("as.data.frame", "edma_data")
S3method("as.array", "edma_data")
S3method("as.dist", "edma_data")
S3method("as.edma_data", "array")
## plot methods
S3method("plot", "edma_data")
S3method("plot_2d", "edma_data")
S3method("plot_ord", "edma_data")
S3method("plot_clust", "edma_data")

## edma_fit methods
S3method("Meanform", "edma_fit")
S3method("as.dist", "edma_fit")
S3method("get_fm", "edma_fit")
S3method("SigmaKstar", "edma_fit")
S3method("confint", "edma_fit")
## edma_fit_np methods
S3method("print", "edma_fit_np")
## edma_fit_p methods
S3method("print", "edma_fit_p")
S3method("SigmaK", "edma_fit_p")
S3method("sensitivity", "edma_fit_p")
## plot methods
S3method("plot", "edma_fit")
S3method("plot_2d", "edma_fit")
S3method("plot_3d", "edma_fit")
S3method("plot_ord", "edma_fit")
S3method("plot_clust", "edma_fit")

## edma_dm methods: this is parent for fdm, gm, gdm
S3method("confint", "edma_dm")
S3method("get_influence", "edma_dm")
S3method("plot_Ttest", "edma_dm")
## plot methods
S3method("plot", "edma_dm")
S3method("plot_2d", "edma_dm")
S3method("plot_3d", "edma_dm")

## edma_fdm methods
S3method("print", "edma_fdm")
S3method("T_test", "edma_fdm")
S3method("get_fdm", "edma_fdm")
S3method("landmarks", "edma_fdm")
S3method("dimensions", "edma_fdm")
## plot methods
S3method("plot_ord", "edma_fdm")
S3method("plot_clust", "edma_fdm")
S3method("plot_ci", "edma_fdm")

## edma_influence methods
S3method("plot", "edma_influence")

## edma_gm methods
S3method("print", "edma_gm")
S3method("T_test", "edma_gm")
S3method("get_gm", "edma_gm")
## plot methods
S3method("plot_ci", "edma_gm")

## edma_gdm methods
S3method("print", "edma_gdm")
S3method("T_test", "edma_gdm")
S3method("get_gdm", "edma_gdm")
S3method("landmarks", "edma_gdm")
S3method("dimensions", "edma_gdm")
## plot methods
S3method("plot_ord", "edma_gdm")
S3method("plot_clust", "edma_gdm")
S3method("plot_ci", "edma_gdm")

## other methods
S3method("stack", "dist") # not to import from mefa
