## export main functions
export(
    "read_xyz",
    "edma_fit",
    "edma_test",
    "stacked_form_difference",
    "SigmaK_fit",
    "simulate_edma_data"
)

## export new generics
export(
    "landmark_names",
    "Meanform",
    "SigmaKstar",
    "stacked_dist",
    "form_difference"
)

## imports
importFrom("utils", "stack", "read.table")
importFrom("stats", "as.dist", "dist", "optim", "quantile")

## edma_data methods
S3method("stack", "edma_data")
S3method("print", "edma_data")
S3method("subset", "edma_data")
S3method("[", "edma_data")
S3method("landmark_names", "edma_data")
S3method("dim", "edma_data")
S3method("dimnames", "edma_data")
S3method("as.matrix", "edma_data")
S3method("as.data.frame", "edma_data")
S3method("as.array", "edma_data")

## edma_fit methods
S3method("Meanform", "edma_fit")
S3method("as.dist", "edma_fit")
S3method("stacked_dist", "edma_fit")
S3method("form_difference", "edma_fit")

## edma_fit_np methods
S3method("print", "edma_fit_np")
S3method("SigmaKstar", "edma_fit_np")

## other methods
S3method("stack", "dist") # not to import from mefa


